{% assign t = site.tags.translations[0][page.lang] %}
{% assign baseurl = site.baseurl %}
{% if page.lang != 'en' %}
  {% assign baseurl = site.baseurl | append: '/' | append:page.lang %}
{% endif %}
<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <div class="show-on-collapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </div>
          <div class="hide-on-collapsed">
            <span class="icon-wwf_close-menu"></span>
          </div>
        </button>
        <div id="logo" class="pull-left navbar-brand">
          <a class="icon-wwf_logo" title="WWF Canada"></a>
        </div>
        <div id="title" class="pull-left visible-xs-inline">
          <a class="home-link" title="Home" href="http://oceanplanning.alyssa-mcleod.com/#!/layers/home?view=49.0791|-60.0007|6||1312|683&ocean=atlantic&cat=wildlife/">
            <h1>
              {{t.app.title}}: {{t.app.subtitle}}
            </h1>
          </a>
        </div>
        <ul id="" class="lang-links lang-links-short nav navbar-nav nav-language pull-right visible-xs-inline" >
        {% for lang in site.languages %}
        {% if lang.value != page.lang %}
          <li>
            {% if lang.value == 'en' %}
            <a class="ocean-color" href='{{site.baseurl | append: '/'}}' data-lang='{{lang.value}}' title="{{site.tags.translations[0][lang.value].lang.title}}">
            {% else %}
            <a class="ocean-color" href='{{site.baseurl | append: '/' | append: lang.value}}' data-lang='{{lang.value}}' title="{{site.tags.translations[0][lang.value].lang.title}}">
            {% endif %}
              {{site.tags.translations[0][lang.value].lang.short}}
            </a>
          </li>
        {% endif %}
        {% endfor %}
        </ul>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-left" id="navbar-collapse">
        <div id="title" class="hidden-xs">
          <a class="home-link" title="{{t.nav.home}}" href="{{baseurl}}/">
            <h1>
              {{t.app.title}}: {{t.app.subtitle}}
            </h1>
          </a>
        </div>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

</header>
