
.icon-wwf_arctic-white {
	background-image: url('png/wwf_arctic-white.png');
	background-repeat: no-repeat;
}

.icon-wwf_arctic {
	background-image: url('png/wwf_arctic.png');
	background-repeat: no-repeat;
}

.icon-wwf_arrow-left-dark-hover {
	background-image: url('png/wwf_arrow-left-dark-hover.png');
	background-repeat: no-repeat;
}

.icon-wwf_arrow-left-dark {
	background-image: url('png/wwf_arrow-left-dark.png');
	background-repeat: no-repeat;
}

.icon-wwf_arrow-left-white {
	background-image: url('png/wwf_arrow-left-white.png');
	background-repeat: no-repeat;
}

.icon-wwf_arrow-right-dark-hover {
	background-image: url('png/wwf_arrow-right-dark-hover.png');
	background-repeat: no-repeat;
}

.icon-wwf_arrow-right-dark {
	background-image: url('png/wwf_arrow-right-dark.png');
	background-repeat: no-repeat;
}

.icon-wwf_arrow-right-white {
	background-image: url('png/wwf_arrow-right-white.png');
	background-repeat: no-repeat;
}

.icon-wwf_atlantic-white {
	background-image: url('png/wwf_atlantic-white.png');
	background-repeat: no-repeat;
}

.icon-wwf_atlantic {
	background-image: url('png/wwf_atlantic.png');
	background-repeat: no-repeat;
}

.icon-wwf_basemap-white {
	background-image: url('png/wwf_basemap-white.png');
	background-repeat: no-repeat;
}

.icon-wwf_basemap-grey{
	background-image: url('png/wwf_basemap-grey.png');
	background-repeat: no-repeat;
}

.icon-wwf_circle {
	background-image: url('png/wwf_circle.png');
	background-repeat: no-repeat;
}

.icon-wwf_close-large {
	background-image: url('png/wwf_close-large.png');
	background-repeat: no-repeat;
}

.icon-wwf_close-menu {
	background-image: url('png/wwf_close-menu.png');
	background-repeat: no-repeat;
}

.icon-wwf_close {
	background-image: url('png/wwf_close.png');
	background-repeat: no-repeat;
}

.icon-wwf_custom-grey {
	background-image: url('png/wwf_custom-grey.png');
	background-repeat: no-repeat;
}

.icon-wwf_custom {
	background-image: url('png/wwf_custom.png');
	background-repeat: no-repeat;
}

.icon-wwf_download {
	background-image: url('png/wwf_download.png');
	background-repeat: no-repeat;
}

.icon-wwf_ecology-grey {
	background-image: url('png/wwf_ecology-grey.png');
	background-repeat: no-repeat;
}

.icon-wwf_ecology {
	background-image: url('png/wwf_ecology.png');
	background-repeat: no-repeat;
}

.icon-wwf_edit-arctic {
	background-image: url('png/wwf_edit-arctic.png');
	background-repeat: no-repeat;
}

.icon-wwf_edit-atlantic {
	background-image: url('png/wwf_edit-atlantic.png');
	background-repeat: no-repeat;
}

.icon-wwf_edit-light {
	background-image: url('png/wwf_edit-light.png');
	background-repeat: no-repeat;
}

.icon-wwf_edit-pacific {
	background-image: url('png/wwf_edit-pacific.png');
	background-repeat: no-repeat;
}

.icon-wwf_edit {
	background-image: url('png/wwf_edit.png');
	background-repeat: no-repeat;
}

.icon-wwf_explore-dark-inactive {
	background-image: url('png/wwf_explore-dark-inactive.png');
	background-repeat: no-repeat;
}

.icon-wwf_explore-dark {
	background-image: url('png/wwf_explore-dark.png');
	background-repeat: no-repeat;
}

.icon-wwf_explore {
	background-image: url('png/wwf_explore.png');
	background-repeat: no-repeat;
}

.icon-wwf_export {
	background-image: url('png/wwf_export.png');
	background-repeat: no-repeat;
}

.icon-wwf_facebook {
	background-image: url('png/wwf_facebook.png');
	background-repeat: no-repeat;
}

.icon-wwf_googleplus {
	background-image: url('png/wwf_googleplus.png');
	background-repeat: no-repeat;
}

.icon-wwf_graphic-active {
	background-image: url('png/wwf_graphic-active.png');
	background-repeat: no-repeat;
}

.icon-wwf_graphic-arctic {
	background-image: url('png/wwf_graphic-arctic.png');
	background-repeat: no-repeat;
}

.icon-wwf_graphic-atlantic {
	background-image: url('png/wwf_graphic-atlantic.png');
	background-repeat: no-repeat;
}

.icon-wwf_graphic-pacific {
	background-image: url('png/wwf_graphic-pacific.png');
	background-repeat: no-repeat;
}

.icon-wwf_graphic {
	background-image: url('png/wwf_graphic.png');
	background-repeat: no-repeat;
}

.icon-wwf_human-grey {
	background-image: url('png/wwf_human-grey.png');
	background-repeat: no-repeat;
}

.icon-wwf_human {
	background-image: url('png/wwf_human.png');
	background-repeat: no-repeat;
}

.icon-wwf_instagram {
	background-image: url('png/wwf_instagram.png');
	background-repeat: no-repeat;
}

.icon-wwf_line {
	background-image: url('png/wwf_line.png');
	background-repeat: no-repeat;
}

.icon-wwf_logo {
	background-image: url('png/wwf_logo.png');
	background-repeat: no-repeat;
}

.icon-wwf_marker {
	background-image: url('png/wwf_marker.png');
	background-repeat: no-repeat;
}

.icon-wwf_minus {
	background-image: url('png/wwf_minus.png');
	background-repeat: no-repeat;
}

.icon-wwf_pacific-white {
	background-image: url('png/wwf_pacific-white.png');
	background-repeat: no-repeat;
}

.icon-wwf_pacific {
	background-image: url('png/wwf_pacific.png');
	background-repeat: no-repeat;
}

.icon-wwf_pause-hover {
	background-image: url('png/wwf_pause-hover.png');
	background-repeat: no-repeat;
}

.icon-wwf_pause {
	background-image: url('png/wwf_pause.png');
	background-repeat: no-repeat;
}

.icon-wwf_photo-active {
	background-image: url('png/wwf_photo-active.png');
	background-repeat: no-repeat;
}

.icon-wwf_photo-arctic {
	background-image: url('png/wwf_photo-arctic.png');
	background-repeat: no-repeat;
}

.icon-wwf_photo-atlantic {
	background-image: url('png/wwf_photo-atlantic.png');
	background-repeat: no-repeat;
}

.icon-wwf_photo-pacific {
	background-image: url('png/wwf_photo-pacific.png');
	background-repeat: no-repeat;
}

.icon-wwf_photo {
	background-image: url('png/wwf_photo.png');
	background-repeat: no-repeat;
}

.icon-wwf_pinterest {
	background-image: url('png/wwf_pinterest.png');
	background-repeat: no-repeat;
}

.icon-wwf_planning  {
	background-image: url('png/wwf_planning .png');
	background-repeat: no-repeat;
}

.icon-wwf_planning-grey {
	background-image: url('png/wwf_planning-grey.png');
	background-repeat: no-repeat;
}

.icon-wwf_play-hover {
	background-image: url('png/wwf_play-hover.png');
	background-repeat: no-repeat;
}

.icon-wwf_play {
	background-image: url('png/wwf_play.png');
	background-repeat: no-repeat;
}

.icon-wwf_plus {
	background-image: url('png/wwf_plus.png');
	background-repeat: no-repeat;
}

.icon-wwf_polygon {
	background-image: url('png/wwf_polygon.png');
	background-repeat: no-repeat;
}

.icon-wwf_population-arctic {
	background-image: url('png/wwf_population-arctic.png');
	background-repeat: no-repeat;
}

.icon-wwf_population-atlantic {
	background-image: url('png/wwf_population-atlantic.png');
	background-repeat: no-repeat;
}

.icon-wwf_population-pacific {
	background-image: url('png/wwf_population-pacific.png');
	background-repeat: no-repeat;
}

.icon-wwf_population {
	background-image: url('png/wwf_population.png');
	background-repeat: no-repeat;
}

.icon-wwf_remove {
	background-image: url('png/wwf_remove.png');
	background-repeat: no-repeat;
}

.icon-wwf_replay-hover {
	background-image: url('png/wwf_replay-hover.png');
	background-repeat: no-repeat;
}

.icon-wwf_replay {
	background-image: url('png/wwf_replay.png');
	background-repeat: no-repeat;
}

.icon-wwf_scroll-down-hover {
	background-image: url('png/wwf_scroll-down-hover.png');
	background-repeat: no-repeat;
}

.icon-wwf_scroll-down {
	background-image: url('png/wwf_scroll-down.png');
	background-repeat: no-repeat;
}

.icon-wwf_scroll-up-hover {
	background-image: url('png/wwf_scroll-up-hover.png');
	background-repeat: no-repeat;
}

.icon-wwf_scroll-up {
	background-image: url('png/wwf_scroll-up.png');
	background-repeat: no-repeat;
}

.icon-wwf_square {
	background-image: url('png/wwf_square.png');
	background-repeat: no-repeat;
}

.icon-wwf_status-arctic {
	background-image: url('png/wwf_status-arctic.png');
	background-repeat: no-repeat;
}

.icon-wwf_status-atlantic {
	background-image: url('png/wwf_status-atlantic.png');
	background-repeat: no-repeat;
}

.icon-wwf_status-pacific {
	background-image: url('png/wwf_status-pacific.png');
	background-repeat: no-repeat;
}

.icon-wwf_status {
	background-image: url('png/wwf_status.png');
	background-repeat: no-repeat;
}

.icon-wwf_story-dark  {
	background-image: url('png/wwf_story-dark .png');
	background-repeat: no-repeat;
}

.icon-wwf_story-dark-inactive {
	background-image: url('png/wwf_story-dark-inactive.png');
	background-repeat: no-repeat;
}

.icon-wwf_story {
	background-image: url('png/wwf_story.png');
	background-repeat: no-repeat;
}

.icon-wwf_tick {
	background-image: url('png/wwf_tick.png');
	background-repeat: no-repeat;
}

.icon-wwf_twitter {
	background-image: url('png/wwf_twitter.png');
	background-repeat: no-repeat;
}

.icon-wwf_type {
	background-image: url('png/wwf_type.png');
	background-repeat: no-repeat;
}

.icon-wwf_video-active {
	background-image: url('png/wwf_video-active.png');
	background-repeat: no-repeat;
}

.icon-wwf_video-arctic {
	background-image: url('png/wwf_video-arctic.png');
	background-repeat: no-repeat;
}

.icon-wwf_video-atlantic {
	background-image: url('png/wwf_video-atlantic.png');
	background-repeat: no-repeat;
}

.icon-wwf_video-pacific {
	background-image: url('png/wwf_video-pacific.png');
	background-repeat: no-repeat;
}

.icon-wwf_video {
	background-image: url('png/wwf_video.png');
	background-repeat: no-repeat;
}

.icon-wwf_wildlife-grey {
	background-image: url('png/wwf_wildlife-grey.png');
	background-repeat: no-repeat;
}

.icon-wwf_wildlife {
	background-image: url('png/wwf_wildlife.png');
	background-repeat: no-repeat;
}

.icon-wwf_wwf {
	background-image: url('png/wwf_wwf.png');
	background-repeat: no-repeat;
}

.icon-wwf_youtube {
	background-image: url('png/wwf_youtube.png');
	background-repeat: no-repeat;
}