---
layout: default
---
{% assign t = site.tags.translations[0][page.lang] %}

<div id="home" class="content-aside panel-white">
  {{content}}
</div>
<div id="map" data-tap-disabled="true"><span class="loading-animation hide-on-app-loaded map-loading-animation"></span></div>
<div id="key"></div>
<div id="pinch"><img src="/assets/img/pinch-zoom.png" width="105" height="132" alt="Finger pinch icon" /></div>
<div id="ocean" style="display:none"></div>
<div id="story" class="content-aside" style="display:none"></div>
<div id="layers" class="content-aside" style="display:none">
  <div id="layers-home" class="hidden-xs" style="display:none">
    <div class="content content-scroll content-home panel-dark"><span class="loading-animation panel-loading-animation"></span></div>
  </div>
  <div id="layer-item" class="layer-item content-scroll" style="display:none"></div>
  <div id="layers-control" class="content content-scroll panel-dark" style="display:none">
  	<div id="translate">
		<div class="instructions">
			<p class="english">Tap checkboxes to view on map</p>
			<p class="french">Pour voir les indications sur la carte,<br />cochez les cases correspondantes</p>
		</div>
		<table class="inner">
			<tbody>
				<tr>
					<td class="english">
						<a href="https://romtoronto-map.github.io/#!/layers/home?view=50.3765|-59.6899|6||1312|974&ocean=atlantic&cat=wildlife">EN</a>
					</td>
					<td class="french">
						<a href="https://romtoronto-map.github.io/fr/#!/layers/home?view=50.3765|-59.6899|6||1312|974&ocean=atlantic&cat=wildlife">FR</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
  </div>
  <div class="layers-bottom-categories visible-xs">
    <h2 class="layers-home-category-hint">
      {{ t.ux.layers.category_hint }} 
    </h2>
  </div>
</div>
<div id="pages" class="content-full" style="display:none"></div>
