/* headerTemplate */
header {
  display: inline-block;
  height: 40px;
  width: 100%;
  right:0;
  z-index: 4000; /* above sidebar */
  top:0;
  bottom:0;
  position:absolute;
  left:0
}

@media (min-width: 769px) {
  header {
    z-index: 140; /* below sidepanel */
    width: auto;
    right: 20px;
  }
  .module-page header {
    z-index: 400; /* above pages */
  }
}

/*typography, header links & buttons*/
#title {
  margin: 0 7px;
}
#title h1 {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    text-transform: none; /*#92 */
    line-height:34px;
}
header #title a.home-link{
    display: inline-block;
}


@media (min-width: 769px){
  #title h1 {
    font-size: 20px;
    line-height:40px;
    text-transform: uppercase; /*#92 */
  }
  header .link-list-wrapper,
  #title {
    margin: 0 16px;
  }
  #page-links {
    text-transform: uppercase;
  }
}

header a {
  display:block;
}

#logo a {
  display: block;
  position: relative;
  z-index: 4001;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

@media (min-width: 769px) {
  #logo a  {
    z-index: 401; /* below sidebar */
  }
}


/*bootstrap override*/
.navbar-nav {
  margin: 0;
}
header .container-fluid {
  padding-right: 0;
  padding-left: 0;
}
header .container-fluid > .navbar-header,
header .container-fluid > .navbar-collapse {
  margin: 0;
}
header .container-fluid > .navbar-collapse {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}
header .navbar > .container-fluid .navbar-brand {
  margin-left: 0;

}



/* navbar */
header .navbar-header {
  height: 0;
  z-index: 4001;
  position: relative;
}
header .navbar-brand {
  padding: 0 0 0 8px;
}
@media (min-width: 769px) {
  header .navbar-brand {
    padding-left: 16px;
  }
}



header .navbar-default {
  background: none;
  border: none;
}

.module-page header .navbar-default {
  background-color: rgba(244,245,245,0.8);
}

header .navbar-default .navbar-collapse {
  border-top: 0;
  -webkit-box-shadow: 0 0 12px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 12px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 12px -3px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
}
@media (min-width: 769px) {
  header .container-fluid > .navbar-collapse {
    width:100%;
    padding: 0 0 0 85px;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: initial;
    top:auto;
    left: auto;
    right: auto;
  }
}
/*@media (min-width: 950px) {
  header .container-fluid > .navbar-collapse {
  }
}*/
/* header nav lists */

header .nav > li > a {
  padding: 0;
  text-align: center;
}


/* navbar collpase list-items */

header .navbar-collapse .nav li {
  border-bottom: 1px solid;
  padding: 0;
  font-size: 20px;
}
header .navbar-collapse .nav li a{
  padding: 10px 0;
}
header .navbar-collapse .nav li:last-child{
  border-bottom:none;
}

@media (min-width: 769px) {
  header .navbar-collapse .nav li {    
    font-size: 15px;
    padding: 0 10px 0 0;
  }
  header .navbar-collapse .nav li:first-child,
  header .navbar-collapse .nav li {
    border: none;  
  }
  header .navbar-collapse .nav li a{
    padding: 0;
  }
}




/* nav languages */

header .lang-links-short {
  margin: 10px 2px;
}
header .lang-links-short > li {
  padding: 0 3px;
}
header .lang-links-short > li > a{
  font-size: 14px;
  line-height: 16px;
}
#page-links, .lang-links {
  font-family: "wwfregular";
}
#page-links{
  padding: 60px 0 30px;
}
@media (min-width: 769px) {

 
  header .navbar-collapse #page-links li:last-child,
  header .navbar-collapse .lang-links li:first-child {
      border-left: 1px solid;
      padding-left:10px;
  }
  .module-page header .navbar-collapse #page-links li:last-child, 
  .module-page header .navbar-collapse .lang-links li:first-child {
    border-color: #a0a5a6;
  }

  header .navbar-collapse .lang-links.nav li {
    float: none;
  }
  #page-links {
    padding: 0;
  }
}









/* navbar collapse */





header .collapsed .hide-on-collapsed {
  display: none;
}

header .show-on-collapsed {
  display: none;
}

header .collapsed .show-on-collapsed {
  display: block;
}

header .navbar-toggle {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  z-index: 4001;
}
header .navbar-toggle .show-on-collapsed {
    padding: 9px 10px;
}
header .navbar-default .navbar-toggle,
header .navbar-default .navbar-toggle:focus,
header .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

header .navbar-default .navbar-toggle .icon-bar {
  width: 22px;
  background-color:#212728
}

header .navbar-default .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 5px;
}

@media (max-width: 768px) {
  .module-layers.layer-item header {
      display: none !important;
  }
}