<div class="print-header">
  <span class="print-header-note ocean-color"><%= t.ux.print.header_note_url %></span>
  <span class="print-header-url ocean-color-dark"><%= custom_url %></span>
</div>
<div class="print-key container-fluid">PRINT KEY HERE </div>
<div class="print-footer">
  <span class="print-footer-note-origin ocean-color"><%= t.ux.print.footer_note_origin %></span>
  <span class="print-header-url ocean-color-dark"><%= url %>. </span>
  <span class="print-footer-note-usage ocean-color"><%= t.ux.print.footer_note_further_use %> </span>
  <span class="print-footer-note-usage ocean-color"><%= t.ux.print.footer_note_map_creator %></span>
</div>
